In [23]:
from coffee_shop_recommender_functions import *
from recommender_model import *
import pandas as pd
import numpy as np
from flask import request

In [15]:
f1 = (0.5, 'Lovely ambiance')
f2 = (0, 'Nice for studying and working')
f3 = (0.2, 'High end coffee')
lat, lng = 47.612133, -122.335908

In [16]:
df = pd.read_csv('data/df_with_features.csv', index_col=0)

In [17]:
test_recommendations = make_recommendations(f1, f2, f3, lat, lng, df)
test_recommendations

['Local Color',
 'Storyville Coffee Company',
 "Seattle's Best Coffee - Retail Cafes- Down"]

In [18]:
model = recommender_model(df)

In [22]:
model.recommend(f1, f2, f3, lat, lng)

['Local Color',
 'Storyville Coffee Company',
 "Seattle's Best Coffee - Retail Cafes- Down"]

In [37]:
df[df['name'] == 'Firehouse Coffee']#['feature26']

,lat,lng,name,address,feature0,feature1,feature2,feature3,feature4,feature5,...,feature30,feature31,feature32,feature33,feature34,feature35,feature36,feature37,feature38,feature39
9,47.668781,-122.391557,Firehouse Coffee,2622 NW Market St,0.040098,0.056687,0.011331,0.006736,0.0,0.0,...,0.028326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
tuple((1,2))

(1, 2)